/*
 * @Author: Tim Koepsel 
 * @Date: 2020-03-21 23:59:44 
 * @Last Modified by: Tim Koepsel
 * @Last Modified time: 2020-03-22 00:00:10
 */

.InfoBox-mobile {
    /* Rectangle 10 */

    position: relative;
    width: 330px;
    height: 692px;
    margin-left: 20px;

    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;
    margin: auto;

}

.InfoBox-desktop {
    /* Rectangle 10 */
    position: absolute;
    width: 1200px;
    height: 238px;
    margin-left: 123px;
    top: 562px;

    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.15);
    border-radius: 6px;

}
