body {
    padding: 0;
}
.mainPage {
    p {
        max-width: 100%;
    }

    .MuiContainer-root {
        padding: 0;
    }
}

.spacer-small {
    position: relative;
    height: 50px;
}

.spacer-medium {
    margin-top: 100px;
}

.spacer-large {
    margin-top: 150px;
}

.topMenu {
    position: relative;
    background-color: rgba(26, 117, 192, 0);
    width: 1440px !important;

    .MuiToolbar-regular {
        background-color: #1A74C0;
        justify-content: right;
        .Mui-desktop {
            width: 417px;
            height: 80px;
        }
    }

}

.infoBox-placeholder {
    display: flex;
    height: 188px;
}
