.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none; /* Safari */
       -khtml-user-select: none; /* Konqueror HTML */
         -moz-user-select: none; /* Old versions of Firefox */
          -ms-user-select: none; /* Internet Explorer/Edge */
              user-select: none; /* Non-prefixed version, currently
                                    supported by Chrome, Opera and Firefox */
}

.PanelButtons-desktop {
    position: relative;
    text-align: center;
    margin-top: 80px;
    width: auto;
    left: 0px;
    right: 0px;
    margin-left: 155px;
    margin-right: 25px;
    display: flex;



    .PanelButtonLeft-desktop {
        /* Rectangle 4 */
        width: 580px;
        height: 280.56px;
        position: relative;

        background: #00D8B9;
        border-radius: 6px;

        .PBIconLeft-desktop {
            position: relative;
            right: -150px;
        }

        .PBInfo-desktop {
            position: relative;
            margin-left: 50px;
            top: 15px;

            .PBInfoTitleTextLeft-desktop {
                /* Termin anfragen  */
                position: relative;
                width: 509.7px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 44px;
                display: flex;
                align-items: center;

                color: #FFFFFF;
            }
            .PBInfoTextLeft-desktop {
                /* Beantworten Sie Fragen zu Ihrem aktuellen Zustand und Registrieren Sie sich. */
                position: relative;
                width: 320px;
                bottom: -80px;
                text-align: left;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                /* or 150% */
                display: flex;
                align-items: flex-end;

                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .PanelButtonRight-desktop {
        /* Rectangle 4 */
        position: relative;
        width: 580px;
        height: 279.29px;

        background: #2BBEFE;
        border-radius: 6px;

        .PBIconRight-desktop {
            position: relative;
            right: -150px;
        }

        .PBInfo-desktop {
            position: relative;
            margin-left: 50px;
            top: 15px;

            .PBInfoTitleTextRight-desktop {
                /* Termin anfragen  */
                position: relative;
                width: 509.7px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 44px;
                display: flex;
                align-items: center;

                color: #FFFFFF;
            }
            .PBInfoTextRight-desktop {
                /* Beantworten Sie Fragen zu Ihrem aktuellen Zustand und Registrieren Sie sich. */
                position: relative;
                width: 320px;
                bottom: -80px;
                text-align: left;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                /* or 150% */
                display: flex;
                align-items: flex-end;

                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}

.PanelButtons-mobile {
    .PanelButtonLeft-mobile {
        /* Rectangle 4 */
        width: 580px;
        height: 280.56px;
        position: relative;

        background: #00D8B9;
        border-radius: 6px;
        width: 100%;

        .PBIconLeft-mobile {
            position: relative;
            right: -150px;
        }

        .PBInfo-mobile {
            position: relative;
            margin-left: 50px;
            top: 15px;

            .PBInfoTitleTextLeft-mobile {
                /* Termin anfragen  */
                position: relative;
                width: 509.7px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 44px;
                display: flex;
                align-items: center;

                color: #FFFFFF;
            }
            .PBInfoTextLeft-mobile {
                /* Beantworten Sie Fragen zu Ihrem aktuellen Zustand und Registrieren Sie sich. */
                position: relative;
                width: 320px;
                bottom: -80px;
                text-align: left;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                /* or 150% */
                display: flex;
                align-items: flex-end;

                color: rgba(0, 0, 0, 0.6);
            }
        }
    }

    .PanelButtonRight-mobile {
        /* Rectangle 4 */
        position: relative;
        width: 100%;

        background: #2BBEFE;
        border-radius: 6px;

        .PBIconRight-mobile {
            position: relative;
            right: -150px;
        }

        .PBInfo-mobile {
            position: relative;
            margin-left: 50px;
            top: 15px;

            .PBInfoTitleTextRight-mobile {
                /* Termin anfragen  */
                position: relative;
                width: 509.7px;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 32px;
                line-height: 44px;
                display: flex;
                align-items: center;

                color: #FFFFFF;
            }
            .PBInfoTextRight-mobile {
                /* Beantworten Sie Fragen zu Ihrem aktuellen Zustand und Registrieren Sie sich. */
                position: relative;
                width: 320px;
                bottom: -80px;
                text-align: left;
                font-family: Noto Sans;
                font-style: normal;
                font-weight: 500;
                font-size: 18px;
                line-height: 27px;
                /* or 150% */
                display: flex;
                align-items: flex-end;

                color: rgba(0, 0, 0, 0.6);
            }
        }
    }
}
