.Footer-mobile {
    /* Rectangle 12 */

    position: relative;
    width: 100vw;
    height: 206px;
    left: 0px;
    right: 0px;
    bottom: 5px;

    background: #F0F0F0;
}

.Footer-desktop {
    /* Rectangle 12 */
    
    position: relative;
    min-width: 1440px;
    width: 100vw;
    height: 206px;
    left: 0px;
    right: 0px;
    bottom: 5px;
    text-align: center;
    background: #F0F0F0;
}