/*
 * @Author: Tim Koepsel 
 * @Date: 2020-03-21 23:59:51 
 * @Last Modified by: Tim Koepsel
 * @Last Modified time: 2020-03-22 00:18:34
 */

 .spacer {
     height: 100px;
     position: relative;
 }
.welcomeBox {
    width: 100%;
    justify-items: center;
    background-size: contain;

    @media (min-width: 1440px) {
        height: 650px;
        width: 1440px;
        background: url('/assets/images/landing-bg-desktop.svg');
    }
    @media (max-width: 1440px) {
        height: 696.5px;
        background: url('/assets/images/landing-bg-mobile.svg');
    }

    .layerVirus-mobile {
        position: absolute;
        height: 300px;
        right: -100px;
        top: 25px;
        display: flex;
    }

    .buttonArea-mobile {
        margin-top: 15px;
        position: relative;
        display: block;
    }

    .welcomeTitle-mobile {
        position: relative;
        max-width: 650px;
        height: 330px;
        padding: 28px;
        margin: auto;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */


        .pageCovid-mobile {
            /* COVID-19 */

            font-family: Noto Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 18px;
            line-height: 25px;
            display: flex;
            align-items: center;
            font-variant: small-caps;
            font-feature-settings: 'pnum' on, 'onum' on;

            /* White */
            color: #FFFFFF;
        }
        .pageTitle-mobile {
            /* Digitales Wartezimmer */

            font-family: Noto Serif;
            font-style: normal;
            font-weight: normal;
            font-size: 38px;
            line-height: 52px;
            display: flex;
            align-items: flex-end;

            /* White */
            color: #FFFFFF;

        }
        .pageTitleInfo-mobile {
            /* Hier können Sie unkompliziert einen Termin zum Testen auf eine Infektion durch COVID-19, allgemein bekannt als das Corona-Virus, vereinbaren. */
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 18px;
            line-height: 27px;
            /* or 150% */

            /* White */
            color: #FFFFFF;
        }
    }

    .layerMedic-desktop {
        position: absolute;
        width: 257px;
        height: 257px;
        right: 300px;
        top: 312px;
    }

    .welcomeTitle-desktop {
        position: absolute;
        width: 622px;
        height: 350px;
        margin-top: 0px;
        margin-left: 300px;
        top: 180px;

        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none; /* Safari */
         -khtml-user-select: none; /* Konqueror HTML */
           -moz-user-select: none; /* Old versions of Firefox */
            -ms-user-select: none; /* Internet Explorer/Edge */
                user-select: none; /* Non-prefixed version, currently
                                      supported by Chrome, Opera and Firefox */

        .pageCovid-desktop {
            /* COVID-19 */
            width: 146px;
            height: 30px;
            font-family: Noto Sans;
            font-style: normal;
            font-weight: 500;
            font-size: 24px;
            line-height: 33px;
            font-variant: small-caps;
            font-feature-settings: 'pnum' on, 'onum' on;

            /* White */
            color: #FFFFFF;
        }
        .pageTitle-desktop {
            /* Digitales Wartezimmer */
            position: relative;
            top: 80px;
            height: 151px;
            width: 507px;
            font-family: Noto Serif;
            font-style: normal;
            font-weight: normal;
            font-size: 64px;
            line-height: 87px;
            display: flex;
            align-items: flex-end;

            /* White */
            color: #FFFFFF;
        }

        .pageTitleInfo-desktop {
            /* Hier können Sie unkompliziert einen Termin zum Testen auf eine Infektion durch COVID-19, allgemein bekannt als das Corona-Virus, vereinbaren. */
            font-family: Noto Sans;
            font-style: normal;
            font-weight: normal;
            font-size: 24px;
            line-height: 38px;
            display: flex;
            align-items: flex-end;
            /* or 158% */

            /* White */
            color: #FFFFFF;
        }
    }
}
