$background-color: #00D8B9;
.form-header {
    background-color: $background-color;
    color: #FFFFFF;
    padding: 12px 12px 0;
    position: relative;

    h1 {
        margin-top: 0;
        margin-bottom: 30px;
    }

    p {
        max-width: 700px;
        margin: auto;
    }

    > div {
        position: relative;
        max-width: 400px;
        margin: auto;
        height: 300px;
    }

    .speech-bubble {
        position: absolute;
        right: 130px;
        color: #000000;
        background-color: #FFFFFF;
        border-radius: 20px;
        max-width: 200px;
        font-weight: 500;
        padding: 10px;
        align-self: flex-start;
        margin-top: 31px;
        line-height: 27px;

        &:after {
            content: '\A';
            position: absolute;
            left: calc(75% - 20px);
            bottom: -20px;
            transform: skewX(20deg);
            border-left: 20px solid transparent;
            border-top: 20px solid #FFFFFF;
        }
    }

    svg {
        position: absolute;
        right: -20px;
        bottom: -3px;
        margin-top: 90px;
    }

    &:after {
        content:"\A";
        position: absolute;
        border-left: 25px solid transparent;
        border-right: 25px solid transparent;
        border-top: 25px solid $background-color;
        left: 25%;
    }
}
