body {
    background-color: #F9F9F9;
    text-align: center;
    padding: 0;
    margin-top: 0;
}

h5 {
    color: #1C7ED1;
    font-size: 22px;
}

form {
    padding: 31px;

    > div {
        margin: 27px auto;
        text-align: center;
    }

    .radio-group {
        margin: 27px auto;
        display: flex;
        flex-direction: column;
        align-items: center;

        > label:first-child {
            padding-bottom: 7px;
        }
    }

    .single-checkbox {
        display: flex;
        justify-content: center;
        align-items: center;

        > div {
            align-items: center;
        }
    }

    .checkbox-group {
        display: inline-flex;
        align-items: flex-start;
    }

    label {
        &:hover {
            cursor: pointer;
        }
    }

    .button {
        width: 100%;
        border-radius: 4px;
        background-color: #00D8B9;
    }
}
